<div class="col-md-12 col-xl-9  mx-auto px-0" >
  <div class="card mb-0 tm-outline">
    <div class="card-header align-middle border-bottom card-header-set">
      <!--          メインパスに戻るアイコン設置-->
      <%#= link_to edit_users_user_main_path(@user) do %>
      <%# end %>
      <div class="h-100">
        <h5 class="card-title my-2 d-inline-block ">スレッド（<small><%= @post.user.last_name %>さんの投稿</small>）</h5>
        <button class="float-right border-0" id="windowclose" style="background-color: rgba(0,0,0,0)">
          <i class="fas fa-times fa-2x text-white "></i>
        </button>
      </div>
    </div>
    <div class="card-body pb-0">
      <div class="media">
        <!--            画像の表示-->
        <!--            <img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Ashley Briggs">-->
        <div class="media-body">
              <span class="float-right">
                <small class="text-navy"><%= time_ago_in_words(@post.created_at) %>前</small>
              </span>
          <strong><%= Common.full_name(@post.user.first_name, @post.user.last_name) %></strong>
          <br>
          <small class="text-muted"><%= Common.date_display(@post.created_at) %></small><br>
          <div class="p-2 mt-1 post-content">
            <%= simple_format(@post.content) %>
          </div>
        </div>
      </div>
      <hr>
    </div>
    <div class="card-body h-100 py-0 timeline-body" id="comments" data-post_id="<%= @post.id %>">
<!--      ここにパーシャル-->
        <%= render @comments %>
    </div>
    <%= render partial: "layouts/comment_field" %>
  </div>
</div>
