<div class="col-md-12 col-xl-9  mx-auto px-0" >
  <div class="card mb-0 tm-outline">
    <div class="card-header border-bottom card-header-set" >
<!--          メインパスに戻るアイコン設置-->
      <%= link_to edit_users_user_main_path(@user) do %>
         <button class="float-left ml-md-1 text-white border-0 button-rgba">
           <i class="fas fa-chevron-left fa-2x"></i>
         </button>
      <% end %>
     <h5 class="card-title my-2 d-inline-block float-right">タイムライン(<%= @grade %>)</h5>
    </div>
    <div class="card-body h-100 pb-0 timeline-body">
      <% @posts.each do |post| %>
        <div class="media">
<!--            画像の表示-->
<!--            <img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Ashley Briggs">-->
          <div class="media-body">
            <span class="float-right">
              <small class="text-navy"><%= time_ago_in_words(post.created_at) %>前</small>
              <% if current_user == post.user %>
                <div class="text-right">
                <%= link_to '削除', post_path(post.id), method: :delete, class: "text-danger" ,data: { confirm: "本当に削除しますか?" } %>
                </div>
              <% end %>
            </span>
            <strong><%= Common.full_name(post.user.first_name, post.user.last_name) %></strong>
            <br>
            <small class="text-muted"><%= Common.date_display(post.created_at) %></small><br>

            <div class="p-2 post-content">
              <% if post.file? %>
              <a href="<%= post.file.url %>" target="_blank" class="aw-color">
               <div class="d-inline-block border p-1" style="background-color: white">
                <% if Common.file_icon(post.file) == 'pdf' %>
                  <i class="fas fa-file-pdf fa-2x m-1"></i>
                <% elsif Common.file_icon(post.file) == 'excel' %>
                  <i class="fas fa-file-excel fa-2x m-1"></i>
                <% elsif Common.file_icon(post.file) == 'word' %>
                  <i class="fas fa-file-word fa-2x m-1"></i>
                <% elsif Common.file_icon(post.file) == 'ppt' %>
                  <i class="fas fa-file-powerpoint fa-2x m-1"></i>
                <% else %>
                  <i class="fas fa-file-alt fa-2x m-1"></i>
                <% end %>
                <%= post.file %>
               </div>
              </a>
             <% end %>
              <div class="p-2">
                <%= simple_format(text_url_to_link(h(post.content)), {}, sanitize: false) %>
              </div>
              <div class="pb-3 col-mid-12 img-resize">
                <% if post.img? %>
                  <% if post.img.file.content_type.include?('image/') %>
                    <a href="<%= post.img.url %>" target="new">
                    <%= image_tag post.img.url(:thumb), class: "img-style mt-2" %>
                    </a>
                  <% else %>
                    <%= video_tag post.img.url,width: "250", height: "200", controls: true, autobuffer: true, class: "pt-2" %>
                  <% end %>
                <% end %>
              </div>
            </div>

            <% if post.comments.size > 0  %>
              <%= link_to comment_path(post.id), class: "btn btn-sm btn-primary mt-1 mr-1", target: :_blank do %>
                <i class="align-middle mr-2 far fa-comments"></i>参加
              <% end %>
            <% else %>
              <%= link_to comment_path(post.id), class: "btn  btn-sm btn-outline-primary mt-1 mr-1", target: :_blank do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right align-middle mr-2"><polyline points="15 10 20 15 15 20"></polyline><path d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg>返信
              <% end %>
            <% end %>

            <div class="d-inline-block" id="favorite_btns_<%= post.id %>">
              <%= render partial: 'favorites/favorite', locals: { post: post} %>
            </div>
          </div>
        </div>

        <% if Common.change_d_judge(@ids, post) %>
          <div class="row">
            <div class="col-md-5 col-4 pr-0 "><hr></div>
            <div class="col-md-2 col-4 px-0 text-center"><p class="mt-2 mt-md-1 mb-0"><%= Common.day_of_week(post.created_at) %></p></div>
            <div class="col-md-5 col-4 pl-0"><hr></div>
          </div>
        <% else %>
          <hr>
        <% end %>
      <% end %>
    </div>
      <%= render partial: "layouts/post_field" %>
  </div>
</div>


