<!--<main class="content pb-0 px-0">-->
<!--  <div class="container-fluid p-0">-->

    <div class="col-md-12 col-xl-9  mx-auto px-0" >
      <div class="card mb-0 tm-outline">
        <div class="card-header border-bottom card-header-set" >
<!--          メインパスに戻るアイコン設置-->
          <%#= link_to edit_users_user_main_path(@user) do %>
          <%# end %>
         <h5 class="card-title mb-0">タイムライン(<%= @grade %>)</h5>
        </div>
        <div class="card-body h-100 pb-0 timeline-body">
          <% @posts.each do |post| %>
            <div class="media">
    <!--            画像の表示-->
    <!--            <img src="img/avatars/avatar-5.jpg" width="36" height="36" class="rounded-circle mr-2" alt="Ashley Briggs">-->
              <div class="media-body">
                <span class="float-right">
                  <small class="text-navy"><%= time_ago_in_words(post.created_at) %>前</small>
                  <% if current_user %>
                    <div>
                    <%= link_to '削除', timeline_path(post.id), method: :delete ,data: { confirm: "本当に削除しますか?" } %>
                    </div>
                  <% end %>
                </span>
                <strong><%= Common.full_name(post.user.first_name, post.user.last_name) %></strong>
                <br>
                <small class="text-muted"><%= Common.time_display(post.created_at) %></small><br>
                <div class="p-2 mt-1 post-content">
                  <%= simple_format(post.content) %>
                </div>
                <%= link_to thread_path(post.id), class: "btn btn-sm btn-primary mt-1", target: :_blank do %>
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-corner-down-right align-middle mr-2"><polyline points="15 10 20 15 15 20"></polyline><path d="M4 4v7a4 4 0 0 0 4 4h12"></path></svg>返信する
                <% end %>
                <a href="#" class="btn btn-sm btn-danger mt-1"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-heart feather-sm"><path d="M20.84 4.61a5.5 5.5 0 0 0-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 0 0-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 0 0 0-7.78z"></path></svg> いいね</a>
              </div>
            </div>
            <hr>
          <% end %>
        </div>
          <%= render partial: "layouts/post_field" %>
      </div>
    </div>
<!--  </div>-->
<!--</main>-->

