<!DOCTYPE html>
<html>
  <head>
    <title>Slat</title>
    <%= favicon_link_tag 'slat-favicon-logo.ico' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "css/modern", media: 'all' %>
  </head>
  <body>

    <%= yield %>

    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
