<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Slat</title>
    <%= favicon_link_tag 'favicon_blueplanet.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag "css/modern", media: 'all' %>
    <%= stylesheet_link_tag "css/footer", media: 'all' %>
  </head>

  <body>

    <%= yield %>

    <%= render partial: "layouts/footer" %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
